<div class="container-fluid  ">
    <div class="row">
        <div class="col-sm mx-auto d-md-none">
            <carousel>
                <slide *ngFor="let s of speechList">
                    <div class="col-sm-12 my-speech">{{s.speechMessage}}</div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="Author" class="col-form-label">Author</label>
                                <div class="col-sm-12 p-0">
                                    <input type="text" readonly class="form-control" [value]="s.author">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="Date" class="col-form-label">Date Created</label>
                                <div class="col-sm-12 p-0">
                                    <input type="text" readonly class="form-control" [value]="s.date | date">
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>

</div>