.my-speech {
    border: 1px grey solid;
    padding: 20px;
    height: 500px;
    overflow: auto;
    text-align: justify;
}

::ng-deep {
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .carousel-indicators {
        top: 510px;

        li {

            background-color: #fff;
            width: 10px;
            height: 10px;
            border: 1px grey solid;
            border-radius: 50%;
        }

        & .active {
            background-color: grey !important;
        }
    }
}