<div *ngIf="isVisible" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="input-group searchInput">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon icon="search"></fa-icon>
                    </span>
                </div>
                <input #input class="form-control" placeholder="Search" (keyup)="search(input.value)">
                <button class="btn clear-button" (click)="clear(input)">Clear</button>
            </div>
        </div>
    </div>

    <div class="row d-sm-block d-md-none">
        <div class="col-12">
            <ul class="list-group" *ngFor="let s of searchedSpeech">
                <li class="list-group-item" *ngIf="input.value" (click)="selectList(s, speechModal)">{{s.author}}</li>
            </ul>
        </div>
    </div>
</div>

<ng-template #speechModal>
    <div class="modal-header">
        <h4 class="modal-title mx-auto"><small class="label text-muted">Author: </small> <span
                class="author">{{selectedSpeech?.author}}</span> </h4>
        <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{selectedSpeech?.speechMessage}}
    </div>
    <div class="modal-footer">
        <h4 class="modal-title mr-auto"><small class="label text-muted">Date Created: </small> <small
                class="date">{{selectedSpeech?.date
                | date}}</small> </h4>
        <button type="button" class="btn btn-default btn-danger pull-right"
            (click)="confirmDelete(selectedSpeech, speechModal)">Delete</button>
    </div>
</ng-template>