h3 {
    margin-top: 50px;
}

.searchInput {
    margin-top: 40px;
}

.modal-body {
    text-align: justify;
}

.close {
    margin: 0px;
    padding: 0px;
}

.label {
    font-size: 1rem;
}

.author {
    font-style: italic;
}

::ng-deep {
    .modal-content {
        height: 700px;
    }

    .modal-body {
        overflow: auto;
    }
}