<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button type="button" class="navbar-toggler" (click)="collapseNavbar()">
      <span class=" navbar-toggler-icon"></span>
    </button>
    <span class="d-md-none mobile-header mx-auto">{{title}}</span>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav mx-auto" (click)="closeNavbar()">
        <li class="nav-item active" (click)="showSpeechList()">
          <a class="nav-link" routerLink="/my-speeches" (click)="setTitle('View my Speeches')">View my Speeches <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/create-speech" (click)="setTitle('Submit a new Speech')">Submit a new Speech
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/search-speech" (click)="setTitle('Search all Speeches')">Search all Speeches
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>