<div class="container-fluid">
  <ng-container>
    <ul class="list-group speechList" *ngFor="let speech of speechListArray; let i = index">
      <li *ngIf="isSearching" class="list-group-item" (click)="selectSpeech(speech)">{{speech.author}}
      </li>
      <li *ngIf="!isSearching" class="list-group-item" (click)="selectSpeech(speech)">Speech {{i+ 1}}
      </li>
    </ul>
  </ng-container>
</div>