<div class="container-fluid control">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="speechForm" #form="ngForm" (ngSubmit)="save()">

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group author">
              <input #author (keyup)="search('author', author.value)" formControlName="author" id="author" type="text"
                class="form-control" [readonly]="isReadOnly" [value]="speechObject?.author"
                [ngClass]="{ 'is-invalid': isSubmitted && f.author.errors || f.author.touched && !f.author.valid}"
                placeholder="Author" />
              <div *ngIf="f.author.errors" class="invalid-feedback">
                <div *ngIf="isSubmitted || f.author.touched && f.author.errors.required">Author is required</div>

              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group  keywords">
              <input #keywords (keyup)="search('keywords', author.value)" formControlName="keywords" id="keywords"
                type="text" class="form-control" [readonly]="isReadOnly" [value]="speechObject?.keywords"
                [ngClass]="{ 'is-invalid': isSubmitted && f.keywords.errors || f.keywords.touched && !f.keywords.valid }"
                placeholder="keywords" />
              <div *ngIf="f.keywords.errors" class="invalid-feedback">
                <div *ngIf="isSubmitted || f.keywords.touched && f.keywords.errors.required">Keywords is required
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group date">
              <div class="input-group">
                <input #date (keyup)="search('date', author.value)" formControlName="date" id="date"
                  class="form-control" [value]="speechObject?.date | date"
                  [ngClass]="{ 'is-invalid': isSubmitted && f.date.errors || f.date.touched && !f.date.valid}"
                  placeholder="Date" [outsideClick]="true" bsDatepicker readonly />
                <div class=" input-group-append">
                  <span class="input-group-text" id="basic-addon2">
                    <fa-icon icon="calendar"></fa-icon>
                  </span>
                </div>
                <div *ngIf="f.date.errors" class="invalid-feedback invalid-date">
                  <div *ngIf="isSubmitted || f.date.touched && f.date.errors.required">Date is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-12 mt-md-4 text-right button-controls">
            <button *ngIf="showDeleteButton" class="delete btn btn-light btn-outline-secondary col-md-4" type="button"
              (click)=delete() [disabled]="deleteDisable">Delete</button>
            <button *ngIf="showSaveButton" class="save btn btn-light btn-outline-secondary col-sm-12 col-md-4"
              type="submit" [disabled]="saveDisable">Save</button>
            <button *ngIf="showShareButton" class="share btn btn-light btn-outline-secondary col-sm-12 col-md-4"
              type="button" (click)="share(shareContainer)" [disabled]="shareDisable">Share</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<ng-template #shareContainer>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Share to social media</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body socialLogo">
    <div class="row">
      <div class="rounded-circle mx-auto" (click)="chooseSocial('Facebook')">
        <fa-icon [icon]="['fab', 'facebook']" size="6x"></fa-icon>
      </div>

      <div class="rounded-circle mx-auto" (click)="chooseSocial('Twitter')">
        <fa-icon [icon]="['fab', 'twitter']" size="6x"></fa-icon>
      </div>

      <div class="rounded-circle mx-auto" (click)="chooseSocial('Instagram')">
        <fa-icon [icon]="['fab', 'instagram']" size="6x"></fa-icon>
      </div>

    </div>
  </div>
</ng-template>