.control {
    margin-top: 20px;
}

input {
    border-radius: 0;
}

button {
    border-radius: 0;
    margin-top: 10px;
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #8f8f8f80;
    border-color: #8f8f8f80;
}

.socialLogo {
    cursor: pointer;
}

.button-controls {
    position: fixed;
    bottom: 50px;

    @media screen and (min-width:768px) {
        position: relative;
        bottom: 0px;
    }
}