<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <textarea required [(ngModel)]="speechMessage" name="speech" #speech="ngModel"
        class="form-control mx-auto speechText"
        [ngClass]="{'is-invalid': speech.touched && !speech.valid || isEmpty && !speech.valid}"
        (keyup)="save(speech.value)"></textarea>
      <div *ngIf="isEmpty && !speech.valid || speech.touched && !speech.valid" class="error">* This field is
        required</div>
    </div>
  </div>
</div>

<app-controls [speechObject]="speechObject" [temporarySpeech]="temporarySpeech" (save)="clearText()">
</app-controls>