/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';

body {
    position: relative;
    top: 100px;

    @media screen and (min-width:768px) {
        top: 150px;
    }
}

input {
    &.form-control {
        &:focus {
            border-color: #ced4da;
            box-shadow: none;
        }
    }
}

button {

    &.btn {
        border: 1px solid #ced4da;

        &:focus {
            box-shadow: none;
        }
    }
}