<div class="container-fluid">
    <div class="row">
        <div *ngIf="showList" class="col-4 speech-list-container">
            <app-speech-list [speechViewConfig]="speechViewConfig" (select)="setSelectedSpeech($event)">
            </app-speech-list>
        </div>
        <div class="main col-md-8 mx-auto">
            <app-search-bar [isVisible]="showSearch" (searchSpeechOutput)="getSearchQuery($event)">
            </app-search-bar>
            <app-save-speech [selectedSpeechObj]="selectedSpeech"></app-save-speech>
        </div>
    </div>
</div>